@model Electronic_G5.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="p-4 shadow-sm rounded-3">
    <h3>Chi tiết đơn hàng: #@(Model.order_id)</h3>
    <p class="text-sm text-gray-500">@Model.order_date</p>
    <p class="font-weight-bold text-gray-700">Trạng thái: <span> @Model.order_status</span></p>
</div>
@section Scripts {
    <script type="text/javascript">

    </script>

}