.ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: #ddd;
}

ul.pagination li {
    display: inline;
}

    ul.pagination li a {
        color: black;
        float: left;
        padding: 4px 12px;
        text-decoration: none;
        transition: background-color .3s;
    }

    ul.pagination li.active {
        background-color: #0d6efd;
        color: white;
    }

    ul.pagination li a:hover:not(.active) {
        background-color: #ddd;
    }
